.tab {
  width: 100%;
  max-width: 600px;
  background: #131316;
  margin-right: 40px;

  &__menu {
    display: flex;
    padding-bottom: 40px;
  }

  &__container {
    overflow-y: auto;
    height: 664px;
  }

  &__cart__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 8px 0 16px;
    margin-bottom: 40px;
  }
}
