.modal {
  border-radius: 40px;
  background: #1C1C21;
  &__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 640px;
    height: 64px;
    padding-top: 30px;
    margin: 0 auto;

    svg {
      cursor: pointer;
    }
  }
}