.detail {
  &__img__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;

    img {
      max-width: 520px;
      max-height: 240px;
      width: 100%;
      height: auto;
    }
  }

  &__title {
    p {
      text-align: center;
    }
  }

  &__info {
    display: flex;
  }

  &__info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}