.cart {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  max-width: 568px;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
    max-width: 536px;

    width: 100%;
    &:last-child {
      margin-top: 16px;
    }
  }

  &__wrapper_dragged {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: grab;
  }
  &__drag {
    position: absolute;
  }
}
